.img {
    min-height: 70vh;
    background: url(../../imgs/pexels-eduard-balan-775482.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    border: 10px solid #ffffff;
    border-radius: 30px;
    margin: 20px 0 15px 0;
}
.btn-search{
    margin-left: 47% !important;
    margin-right: 47% !important;
    margin-top: 1% !important;
    margin-bottom: 1% !important;

}